/* CSS file */
@font-face {
    src: url(MyriadPro.swf);
    fontFamily: "Myriad Pro";
}

 @font-face {
    src: url(MyriadPro.swf);
    fontFamily: "Myriad Pro";
    fontWeight: bold;
}

Label {
	fontFamily: "Myriad Pro";
	fontSize: 14;
	fontAntiAliasType: "advanced";
	color: #FFFFFF;
}
